---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
---

<Layout title="Welcome to Blog." description='Content website where we build content related to web dev'  image=''>
	<Main>
		<h1 class="text-4xl text-red-500">Hello world</h1>
	</Main>
</Layout>


